@import './fonts/san-francisco/regular/font.pcss';
@import './fonts/san-francisco/light/font.pcss';
@import './fonts/san-francisco/semibold/font.pcss';
@import './fonts/san-francisco/thin/font.pcss';

@import './btn.pcss';
@import './input.pcss';
