.monetization
  i.ic-close(@click='closePage')
  i.question ?
  .monetization__wrap
    .monetization__fake-block
    .monetization__days-block

      .monetization__text.help(v-if="!activePlanName && !isMobile")
        | После истечения пробного периода#[br]
        | выберите подхоящий тарифный план
      .monetization__text.help.no-mob.active-plan(v-if="activePlanName && !isMobile")
        | Вы выбрали тариф за#[br]



      .monetization__days-to-end(
        :class="{is__end: monetizationDays === 0, 'red_none': noPlanSelected, 'active-plan': activePlanName }")
        template(v-if="!monetizationDays && !activePlan || isMobile && !monetizationDays") 0
        tempalte(v-if="monetizationDays && !activePlan || isMobile && monetizationDays") {{ monetizationDays }}
        transition(name="fademonetization")
          .monetization__btn(v-if="activePlanName && !isMobile")
            button.make__choice
              span.bold.plan-name(v-html="activePlanName")
              br
              span.light(v-html="replace(parse(activePlanObject.about).sub)")
      .monetization__text.end-txt
        template(v-if="isMobile || !activePlan")
          | {{ daysCount }} осталось до конца #[br] пробного периода
        template(v-if="activePlan && !isMobile").no-mob
          .monetization__about
            ul
              li(v-for="text in activePlan")
                | {{ text }}


      .monetization__text.help.no-desk
        | После истечения пробного периода#[br]
        | выберите подхоящий тарифный план

      .monetization__accept-btn(:class="{ dark__yellow: getUseDays === 0 && !dealType}")
        button(v-if="selectedPlan === 0", @click.stop.prevent="goProfile", :class="{'red_none': noPlanSelected}")
          span(v-if="!noPlanSelected") ПРОДОЛЖИТЬ
          span(v-if="noPlanSelected") ВЫБЕРИТЕ ТАРИФ
        button(v-else @click="getPlan")
          | ПОДТВЕРДИТЬ
      .monetization__zero-days-link(v-if="!isMobile")
        a(@click="getHelp")
          span Мне нужно больше дней
          br
          span на испытание Directbot


    .monetization__plans

      //-.monetization__text.bot
        | Выбор тарифного плана


      p.rate-title
        | Тарифы сaмостоятельного обслуживания#[br.mobile]
        | помогут вам организовать продажи,#[br.mobile]
        | контролировать результаты и подбирать#[br.mobile]
        | качественных блогеров

      template(v-for="plan in selfPlans")
        transition(name="fademonetization")
          .monetization__btn(@click="selectPlan(plan.id, $event)",
            v-if="activePlanName!==changeName(plan.name) || isMobile")
            button(:class="{make__choice: selectedPlan === plan.id}")
              span.bold.plan-name(v-html="changeName(plan.name)")
              br
              //span.bold {{plan.subscription_price}}
                i.ic-rub
              //span.bold  ЗА {{plan.subscription_period}} ДНЕЙ #[br]
              span.light(v-html="replace(parse(plan.about).sub)")
          .monetization__about(v-if="selectedPlan === plan.id").no-desk
            ul
              li(v-for="text in parse(plan.about).adv")
                | {{ text }}

      p.rate-title
        | Тарифы полного обслуживания включают#[br.mobile]
        | личного менеджера, который за вас#[br.mobile]
        | консультирует клиентов и сотрудничает#[br.mobile]
        | с блогерами от вашего имени

      template(v-for="plan in fullPlans")
        transition(name="fademonetization")
          .monetization__btn(@click="selectPlan(plan.id, $event)",
            v-if="activePlanName!==changeName(plan.name) || isMobile")
            button(:class="{make__choice: selectedPlan === plan.id}")
              span.bold.plan-name(v-html="changeName(plan.name)")
              br
              //span.bold {{plan.subscription_price}}
                i.ic-rub
              //span.bold  ЗА {{plan.subscription_period}} ДНЕЙ #[br]
              span.light(v-html="replace(parse(plan.about).sub)")
        .monetization__about(v-if="selectedPlan === plan.id").no-desk
          ul
            li(v-for="text in parse(plan.about).adv")
              | {{ text }}

      .monetization__zero-days-link(v-if="isMobile")
        a(@click="getHelp")
          span Мне нужно больше дней
          br
          span на испытания Directbot

    .scroll-help-block
