.monetization
  .monetization__wrap
    i.ic-close(@click='closePage')
    .monetization__days-block
      .monetization__days-to-end(:class="{is__end: monetizationDays === 0}") {{ monetizationDays }}
      .monetization__text.end-txt
        | дня осталось до конца #[br] пробного периода
    .monetization__plans
      .monetization__text.bot
        | Выбор тарифного плана
      template(v-for="plan in plans")
        .monetization__btn(@click="selectPlan(plan.id)")
          button(:class="{make__choice: selectedPlan === plan.id}")
            span.bold {{plan.subscription_price}}
              i.ic-rub
            span.bold  ЗА {{plan.subscription_period}} ДНЕЙ #[br]
            div(v-html="plan.about")
      .monetization__zero-days-link
        a(@click="getHelp") У меня есть вопросы
      .monetization__accept-btn(:class="{ dark__yellow: getUseDays === 0 && !dealType}")

       button(v-if="selectedPlan === 0") ПОКА НЕ УВЕРЕН
       button(v-else @click="getPlan") ПОДТВЕРДИТЬ