.monetization
  .monetization__wrap

    i.ic-close(@click='closePage')

    i.question ?

    .monetization__days-block

      .monetization__days-to-end(:class="{is__end: monetizationDays === 0, 'red_none': noPlanSelected }") {{ monetizationDays }}
      .monetization__text.end-txt
        | {{ 0 || daysCount }} осталось до конца #[br] пробного периода

      .monetization__text.help
        | После истечения пробного периода#[br]
        | выберите подхоящий тарифный план
      .monetization__accept-btn(:class="{ dark__yellow: getUseDays === 0 && !dealType}")
        button(v-if="selectedPlan === 0", @click.stop.prevent="goProfile", :class="{'red_none': noPlanSelected}")
          span(v-if="!noPlanSelected") ПРОДОЛЖИТЬ
          span(v-if="noPlanSelected") ВЫБЕРИТЕ ТАРИФ
        button(v-else @click="getPlan")
          | ПОДТВЕРДИТЬ
      .monetization__zero-days-link(v-if="!isMobile")
        a(@click="getHelp")
          | У меня есть вопросы


    .monetization__plans

      //-.monetization__text.bot
        | Выбор тарифного плана


      p.rate-title
        | Тарифы сaмостоятельного обслуживания#[br]
        | помогут вам организовать продажи,#[br]
        | контролировать результаты и подбирать#[br]
        | качественных блогеров

      template(v-for="plan in selfPlans")
        .monetization__btn(@click="selectPlan(plan.id, $event)")
          button(:class="{make__choice: selectedPlan === plan.id}")
            span.bold {{plan.subscription_price}}
              i.ic-rub
            span.bold  ЗА {{plan.subscription_period}} ДНЕЙ #[br]
            span.light(v-html="replace(parse(plan.about).sub)")
        .monetization__about(v-if="selectedPlan === plan.id")
          ul
            li(v-for="text in parse(plan.about).adv")
              | {{ text }}

      p.rate-title
        | Тарифы полного обслуживания включают#[br]
        | личного менеджера, который за вас#[br]
        | консультирует клиентов и сотрудничает#[br]
        | с блогерами от вашего имени

      template(v-for="plan in fullPlans")
        .monetization__btn(@click="selectPlan(plan.id, $event)")
          button(:class="{make__choice: selectedPlan === plan.id}")
            span.bold {{plan.subscription_price}}
              i.ic-rub
            span.bold  ЗА {{plan.subscription_period}} ДНЕЙ #[br]
            span.light(v-html="replace(parse(plan.about).sub)")
        .monetization__about(v-if="selectedPlan === plan.id")
          ul
            li(v-for="text in parse(plan.about).adv")
              | {{ text }}

      .monetization__zero-days-link(v-if="isMobile")
        a(@click="getHelp")
          | У меня есть вопросы

    .scroll-help-block
