/* .link-bottom {

  opacity:.4;

  position: absolute;
  bottom: -7px;
  left: 95px;
  margin-top: 20px;
  opacity:.4;

  @media (--tabletandless) {
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 15px;

  }

  text-align: center;

  @media (max-width:1279px) {
  padding: 40px 30px 130px 30px;
  font-size: 36px;

  }

} */