@import './colors.pcss';
@import './fonts.pcss';
@import './media.pcss';
@import './sizes.pcss';
@import './zIndex.pcss';
@import './mixins.pcss';

$transition: .3s;
$btn-transition: 64ms ease-in-out;
