
  //D I R E C T B O T
  @import 'style/vars/colors.pcss';
  @import 'style/vars/fonts.pcss';
  @import 'style/vars/media.pcss';
  @import 'style/vars/sizes.pcss';
  @import 'style/vars/zIndex.pcss';
  @import 'style/vars/mixins.pcss';

  $transition: .3s;
  $btn-transition: 64ms ease-in-out;

  $color__brand:#5E8BCE;
  $color__brand-dark:#09162B;
  $color__brand-light:#496DA1;
  $color__brand-opacity:rgba(94, 139, 206,.6);

