@import 'style/vars/colors.pcss';
@import 'style/vars/fonts.pcss';
@import 'style/vars/media.pcss';
@import 'style/vars/sizes.pcss';
@import 'style/vars/zIndex.pcss';
@import 'style/vars/mixins.pcss';

$transition: .3s;
$btn-transition: 64ms ease-in-out;
