#profile

  header-component(:title='getUserName',
    :left-btn-show='isSelfPage || firstOpenAppPage ? false : true',
    :back-function='backArrow').directbot-header

      div.profile-right-menu(slot="content", v-if="isMobile && isSelfPage")

        i.ic-options_menu(@click.stop="showProfileMenu = true")

      div.profile-days(slot="content" v-if="isSelfPage && monetizationDays !== null" @click="daysclick")
        span {{ monetizationDays }}
        span.day д

      phone-component(slot="center-content", v-if="!isSelfPage", :phone="shoptel")

      right-nav-component(
        slot="content",
        :current="$route.name === 'profile' ?  'profile' : ''",
        v-on:open-profile-menu="showProfileMenu = true")
      //-div.profile-cash(
        slot='content',
        v-if="isSelfPage && user.plan_id && monetizationDays === 0",
        @click="monetizationAction")
        img(src="./icons/wallet.png")



  menu-sample.prof-menu(:opened="showProfileMenu", v-on:close="showProfileMenu = false")
    .item(v-if="botActivity")
      .text Отключить бота
    .item(v-if="isMobile && !isTrendever")
      .text(@click.stop="findBloger") Найти блогера
    .item
      .text(@click.stop="supportChat") Поддержка
    .item
      .text(@click.stop="openConditions") Условия
    .item
      .text(@click.stop="openOptions") Настройки
    .item(v-if="isTrendever && !botActivity")
      .text(@click.stop="connectDirect") Начать бизнес
    .item(v-if="!isTrendever && !botActivity").no-desk
      .text(@click.stop="connectDirect") Подключить Instagram
    .item
      .text.__txt-red(@click.stop="logout") Выход
    .item
      .text.__txt-blue Отмена



  .fake-standalone-transparent(v-if="isStandalone")
  .section.top.bottom.db-bottom
    .section__content(v-cloak)

      .profile

        .profile_info

          .profile_info_img(:class="{'no-hidden': !getUserPhoto && !isTrendever && isSelfPage, bordered: !!getUserPhoto}")
            img(:src="getUserPhoto")
            img.bot-mini(src="./img/bot-mini.svg" v-if="isSelfPage && !getUserPhoto && !isTrendever")


          .profile_info_about

            template
              span.profile_info_about_type.fake__text(v-if="!shopabout && isSelfPage && !hasAnyInfo")
                | [категория {{appWord}}] &nbsp
              span.profile_info_about_type(v-if="shopabout")
                | {{ shopabout }} &nbsp

            template(v-if="!isTrendever")
              span.profile_info_about_location.fake__text(v-if="!shoplocation && isSelfPage && !hasAnyInfo")
                | [местоположение]&nbsp&nbsp
                span(v-if="!isMobile && user.working_time") |&nbsp
              span.profile_info_about_location(v-if="shoplocation")
                span(v-if="shoplocation && !isMobile") |&nbsp
                | &nbsp{{ shoplocation}}&nbsp&nbsp
                span(v-if="!isMobile && user.working_time") |&nbsp

            template(v-if="!isTrendever")
              span.profile_info_about_work-time.fake__text(v-if="!user.working_time && isSelfPage && !hasAnyInfo")
                |  [часы работы]&nbsp
              span.profile_info_about_work-time(v-if="user.working_time")
                |  {{ shoptime }}&nbsp


        .profile-buttons
          .tags-buttons
            template(v-if="!isTrendever && isSelfPage")
              .text-box(v-if="!isMobile && botActivity")
                p.bold Активирован ... #[br]
                p.light(v-if="!postsCount") нет активных постов, ожидаю..
                p.light(v-if="postsCount")
                  span Добавлено {{  postsCount }} {{postsCountTitle}} #[br]
                  span(v-if="chatsCount") Создано {{ chatsCount }} чатов

              button.no-mob(v-if="!botActivity",
                  @click="$router.push({name: 'connect-bot'})") ПОДКЛЮЧИТЬ INSTAGRAM
              template(v-if="isAuth")
                button(@click="findBloger") НАЙТИ БЛОГЕРА
                button.no-desk(@click="supportChat") ПОДДЕРЖКА


            template(v-if="isTrendever && isSelfPage")
              //-button.connect.no-mob(@click="connectDirect") Начать бизнес


            .profile-buttons(v-if="!isSelfPage")
              button.no-mob Написать в магазин


        .profile_desc(v-on:click="isMoreClass = !isMoreClass",
          v-bind:class="{ more : isMoreClass, less: !isMoreClass}")
          .profile_desc_t.fake__text(v-if="!getSlogan && isSelfPage") [слоган вашего {{appWord}}]
          .profile_desc_t(v-if="getSlogan") {{ getSlogan }}
          .profile_desc_caption(v-if="getUserCaption" v-html="caption_spaces(getUserCaption)")

          .shipping_rules(:class="{'fake__text': !user.shipping_rules && isSelfPage }")
            .profile_desc_t(v-if="user.shipping_rules") Условия
            .profile_desc_caption.fake__text(v-if="!user.shipping_rules && isSelfPage")
              template(v-if="!isTrendever") [подробное описание вашего бизнеса, преимуществ и условий работы]
              template(v-if="isTrendever") [подробное описание профиля]
            .profile_desc_caption(v-if="user.shipping_rules") {{ user.shipping_rules }}

      template(v-if="loaded && isSelfPage")


        template(v-if="!isTrendever")

          //-.profile_inactive(v-if="!botActivity")
            img(src="./img/empty-directbot-profile.png")
            span.empty Деактивирован
            span(v-if="false") мониторю {{ postsCount  }}  постов #[br] общаюсь в {{ chatsCount }} чатах

          .profile_active(v-if="botActivity")
            img(src="./img/active-directbot-profile.png", v-if="isMobile")
            //-img(src="./img/Directbot_profile_bot-on.svg", v-if="!isMobile")
            .text-box(v-if="isMobile")
              p.bold Активирован ... #[br]
              p.light(v-if="!postsCount") нет активных постов, ожидаю..
              p.light(v-if="postsCount")
                span Добавлено {{  postsCount }} {{postsCountTitle}} #[br]
                span(v-if="chatsCount") Создано {{ chatsCount }} чатов

          .grey-banner(v-if="!botActivity && getBannerInfo.indexOf('profile-banner') === -1 && !hideGrey")
            i.ic-close(@click="$store.dispatch('closeStat', 'profile-banner')")
            | После подключения сюда начнут#[br.mobile]
            | добавляться фото#[br.desktop] из вашего&nbsp
            | Instagram.&nbsp#[br.mobile]
            | Это может занять несколько#[br.desktop] минут или часов,#[br.mobile]
            | в зависимости от вашей активности

        template(v-if="isTrendever")
          .grey-banner(v-if="getBannerInfo.indexOf('profile-banner') === -1 && !hideGrey",
            :class="{'has-chats': botActivity}")
            i.ic-close(@click="$store.dispatch('closeStat', 'profile-banner')")
            | Нажмите Сохранить
            | под товаром#[br]
            | или
            | напишите @savetrend
            | под постом в#[br]
            | Instagram, чтобы добавить тренд сюда в ленту

      .profile_insta-link(
        v-if="!isTrendever",
        :class="{'change-padding': !isSelfPage, directbot: true,'margin-top': !isMoreClass }")
        .insta-link-text Cсылка сюда&nbsp
        .insta-link(ref="instaLink") {{ getUserNameLinked }}.{{ source }}

      connect-button(v-if="isSelfPage && isMobile && !botActivity")

        //-button.bot-active-btn(v-if="false") БОТ АКТИВЕН
          i.ic-close

  photos(:mentionerId="mentionerId",
    :shopId="supplierProfileID || userShopId",
    :listName="listId",
    :class="{'little-top':isTrendever}")

  .directbot-navbar(v-if="isMobile && isAuth", :class="{'hide-nav': hideNavUser }")
    navbar-component(:current='$route.name === "profile" ? "profile" : ""')
