#profile

  header-component(:title='getUserName', :left-btn-show='false').directbot-header

      div.profile-right-menu(slot="content", v-if="isMobile && isSelfPage")

        i.ic-options_menu(@click.stop="showProfileMenu = true")

      div.profile-days(slot="content" v-if="isSelfPage && monetizationDays !== null")
        span {{ monetizationDays }}
        span.day д

      phone-component(slot="content", v-if="!isSelfPage", :phone="shoptel")

      //-div.profile-cash(
        slot='content',
        v-if="isSelfPage && user.plan_id && monetizationDays === 0",
        @click="monetizationAction")
        img(src="./icons/wallet.png")

  menu-sample.prof-menu(:opened="showProfileMenu", v-on:close="showProfileMenu = false")
    //.item
      .text Отключить бота
    .item(v-if="isMobile")
      .text(@click.stop="findBloger") Найти блогера
    .item
      .text(@click.stop="supportChat") Поддержка
    .item
      .text(@click.stop="$router.push({ name: 'popup',params: { id:'conditions'} } )") Условия
    .item
      .text.__txt-red(@click.stop="logout") Выход
    .item
      .text.__txt-blue Отмена

  .directbot-right-nav
    right-nav-component(current="profile" v-on:open-profile-menu="showProfileMenu = true")

  .section.top.bottom.db-bottom
    .section__content(v-cloak)

      .profile

        .profile_info

          .profile_info_img
            img(:src="getUserPhoto")


          .profile_info_about(v-if="user.location && user.products_count")
            span.profile_info_about_type
              | {{ shopabout }} &nbsp
            span.profile_info_about_location
              | {{ shoplocation}}&nbsp&nbsp
              span(v-if="!isMobile && user.working_time") |&nbsp
            span.profile_info_about_work-time(v-if="user.working_time")
              |  {{ shoptime }}&nbsp
              //-span(v-if="!isMobile") |&nbsp
            //-span.profile_info_about_posts-quantity
              |  {{ user.products_count }} {{productsCountTitle}}


        .profile_desc(v-if="longCaption" v-on:click="isMoreClass = !isMoreClass" v-bind:class="{ more : isMoreClass, less: !isMoreClass}")
          .profile_desc_t(v-if="getSlogan") {{ getSlogan }}
          .profile_desc_caption(v-if="getUserCaption" v-html="caption_spaces(getUserCaption)")

          .shipping_rules(v-if="user.shipping_rules")
            .profile_desc_t Доставка и возврат
            .profile_desc_caption {{ user.shipping_rules }}


        .profile_desc(v-else :class="less")
          .profile_desc_t(v-if="getSlogan") {{ getSlogan }}
          .profile_desc_caption(v-if="getUserCaption" v-html="caption_spaces(getUserCaption)")

          .shipping_rules(v-if="user.shipping_rules")
            .profile_desc_t Доставка и возврат
            .profile_desc_caption {{ user.shipping_rules }}


        template(v-if="!isMobile && isAuth && isSelfPage")

          button.turn-on-bot-btn-desk.blue-btn(
            v-if="!botActivity",
            @click="$router.push({name: 'connect-bot'})") ПОДКЛЮЧИТЬ INSTAGRAM
          button.turn-on-bot-btn-desk.blue-btn(
            v-if="botActivity"
            @click="$router.push({name: 'connect-bot'})") OТКЛЮЧИТЬ БОТА
          button.find-bloger-btn.blue-btn(@click="findBloger") НАЙТИ БЛОГЕРА



      template(v-if="loaded && isSelfPage")

        .profile_inactive(v-if="!botActivity")
          img(src="./img/empty-directbot-profile.png")
          span.empty Деактивирован
          span мониторю {{ postsCount  }}  постов #[br] общаюсь в {{ chatsCount }} чатах
        .profile_active(v-if="botActivity")
          img(src="./img/active-directbot-profile.png", v-if="isMobile")
          img(src="./img/Directbot_profile_bot-on.svg", v-if="!isMobile")
          .text-box
            p.bold Активирован #[br]
            p.light(v-if="!postsCount") нет активных постов, ожидаю..
            p.light(v-if="postsCount") мониторю {{  postsCount }} {{postsCountTitle}} #[br] общаюсь в {{ chatsCount }} чатах
        .profile_no-goods-banner(v-if="!botActivity && getBannerInfo.indexOf('profile-banner') === -1 && !hideGrey")
          i.ic-close(@click="$store.dispatch('closeStat', 'profile-banner')")
          br(v-if="isMobile")
          span После подключения к Instagram,#[br]
          span.save оператор начнет мониторить все посты, #[br]
          span отвечать покупателям и добавлять сюда товары

      .profile_insta-link(v-if="isMobile", :class="{'change-padding': !isSelfPage}")
        .insta-link-text ссылка на эту витрину
        .insta-link(ref="instaLink") {{ getUserNameLinked }}.drbt.io
        native-popup(:show-popup="showCopyMessage")
          .title-text.title-font Ссылка скопирована
          .main-text {{copyMessage}}
          .button-text(v-on:click.stop="showCopyMessage = false")
            span OK


      connect-button(v-if="isSelfPage && isMobile && !botActivity")

        //-button.bot-active-btn(v-if="false") БОТ АКТИВЕН
          i.ic-close

  photos(:shopId="supplierProfileID || userShopId || anotherId", :listName="listId")

  .directbot-navbar(v-if="isMobile && isAuth")
    navbar-component(current='profile')
